<script>
  if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
    document.querySelector('body').classList.add('theme-dark')
  }
</script>

<nav class="flex align-center font-ui">
  <span class="flex-grow">
    <a class="internal-link plain" href="/">ZISHU.ME</a>
  </span>
  <span class="flex-shrink ssr">
    {{ range .Site.Params.socials }}
      <a href="{{ .link }}" class="muted plain ssl">{{ .name }}</a>
    {{ end }}
  </span>
  <span id="theme-toggle" title="Toggle dark mode" aria-label="Toggle dark mode" type="button" role="switch" aria-checked="false">
    <div class="theme-toggle-slide"></div>
    <div class="theme-toggle-switch"></div>
  </span>
</nav>
