<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

<body>

  <div>
    <div>
    {{ partial "header.html" . }}

      
      <main class="main wrap">

        <h1 class="single-title">{{ .Title }}</h1>
        <div class="small muted">该分类共有 {{ len .Pages }} 篇文章</div>
        <br>
        <div class="archive-list">
          {{ range (where .Data.Pages "Type" "in" site.Params.mainSections).GroupByDate "2006" -}}
          <div class="muted font-ui" id="{{ .Key }}">{{ .Key }}</div>
          <ul class="list-plain tabular-nums">
            {{ range .Pages }}
            <li>
              <a href="{{ .RelPermalink }}" class="internal-link plain">
                <flex class="align-baseline">
                  <span class="muted ppr flex-shrink small mh nowrap font-ui">{{ .Date.Format "2006·01·02"}}</span> 
                  <u style="font-size:18px">{{ .Title }}</u>
                </flex>
              </a>
            </li>
            {{ end }}
          </ul>
          {{ end }}
        </div>

        {{ partial "footer.html" . }}
      </div>
    </div>
  </div>
</body>

</html>