<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

<body>
  {{ partial "header.html" . }}

  <div class="index-container">
    {{ partial "left.html" . }}

    <main class="index-middle">

      <div class="post-title">{{ .Title }}</div>

      <div class="post-content no-indent">
        {{ .Site.Params.postHeaderContent | safeHTML }}
        {{ .Content }}
      </div>

      <div id="shuoshuo">
        <ul>
          <li></li>
        </ul>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/marked/lib/marked.umd.js"></script>
      <script src="/js/shuoshuo.js"></script>
      
    </main>
  </div>

  {{ partial "footer.html" . }}
  {{ partial "scripts.html" . }}
</body>

</html>