<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

<body>
  {{ partial "header.html" . }}

  <div id="main-wrapper" class="d-flex justify-content-center">
    <div class="container d-flex flex-column px-xxl-5">
      {{ partial "content_top.html" . }}
      <div class="row flex-grow-1">

        <main class="col-12 col-lg-11 col-xl-9 px-md-4">
          <article class="px-1">

            <header>
              <h1 data-toc-skip="">{{ .Title }}</h1>
              <!-- <p class="post-desc fw-light mb-4"></p> -->
              {{ if in .Site.Params.mainSections .Type }}
              <div class="post-meta text-muted">
                <span>发布于 <time>{{ .Date.Format "Jan 1, 2006"}}</time></span>
                <div class="d-flex justify-content-between"><span>By
                    <em><a href="https://github.com/anghunk">子舒</a></em></span>
                </div>
              </div>
              {{ end }}
            </header>

            <div class="content">
              {{ .Site.Params.postHeaderContent | safeHTML }}
              {{ .Content }}

              <div class="post-tail-wrapper text-muted">
                <div class="post-meta mb-3">

                  <!-- if 是详情页 -->
                  {{ if in .Site.Params.mainSections .Type }}
              
                  {{ if .Params.categories }}
                  <i class="far fa-folder-open fa-fw me-1"></i>
                  <span class="post-category">
                    {{/* with 语句可以确保分类存在，并将第一个分类赋值给 . */}}
                    {{ with index .Params.categories 0 }}
                      <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
                    {{ end }}
                  </span>
                  {{ end }}

                  <div class="post-tags">
                    <i class="fa fa-tags fa-fw me-1"></i>
                    {{ if .Params.tags }}
                    <span class="post-tags">
                      {{ range .Params.tags }}
                        <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="post-tag no-text-decoration">{{ . }}</a>
                      {{ end }}
                    </span>
                  {{ end }}
                  </div>

                  {{ end }}
                  <!-- if 是详情页 -->

                  <!-- 文章协议 -->
                  <div class="post-tail-bottom d-flex justify-content-between align-items-center mt-5 pb-2">
                    <div class="license-wrapper">This post is licensed under <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a> by the author.</div>
                  </div>

                </div>
              </div>

              {{ if in .Site.Params.mainSections .Type }}
              <!-- 在文章内容之后显示相关文章 -->
              {{ partial "related-posts.html" . }}
              {{ end }}

              <!-- 评论 -->
              {{ if in .Site.Params.mainSections .Type }}
              {{ partial "comment.html" . }}
              {{ end }}

            </div>

          </article>

          {{ partial "footer.html" . }}
        </main>

        {{ partial "panel.html" . }}

      </div>
    </div>
  </div>

</body>
</html>