<hr class="sep">
<footer class="container no-print">
  <div class="u-footer">
    <p>
      本博客使用 <a target="_blank" href="https://creativecommons.org/licenses/by-nc-sa/4.0/" style="color:inherit;">CC BY-NC-SA 4.0</a> 协议开源
    </p>
    <p>© 2020 - 2025 Powered by 子舒</p>
    <div class="footflex">
      <p>Ad Astra Per Aspera.</p>
      <p>
        <a href="https://github.com/ezyshu/" target="_blank"><img class="icon-social"
            src="https://unpkg.com/simple-icons@v15/icons/github.svg" alt="github"></a>
        <a href="/index.xml" target="_blank" title="RSS Feed"><img class="icon-social"
            src="https://unpkg.com/simple-icons@v15/icons/RSS.svg" alt="rss"></a>
      </p>
    </div>
  </div>
  <img src="https://profile-counter.glitch.me/zishu_me/count.svg" alt="count" style="display:none;">
</footer>

{{ partial "scripts.html" . }}